    <p-table #dt [value]="customerData" [paginator]="true" [rows]="10" dataKey="_id"
             [globalFilterFields]="['firstName','lastName','_id', 'birthday']" styleClass="p-datatable-sm"
             [rowHover]="true">
      <ng-template pTemplate="caption">
        <div class="table-caption">
          <button pButton type="button" label="Add customer" icon="fa fa-user-plus" class="p-button-outlined p-button-primary" (click)="addCustomer()"></button>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                   placeholder="Enter Search Term"/>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="active" class="active-column">Active
            <p-sortIcon field="active"></p-sortIcon>
          </th>
          <th pSortableColumn="firstName">First Name
            <p-sortIcon field="firstName"></p-sortIcon>
          </th>
          <th pSortableColumn="lastName">Last Name
            <p-sortIcon field="lastName"></p-sortIcon>
          </th>
          <th pSortableColumn="birthday">Date of Birth
            <p-sortIcon field="birthday"></p-sortIcon>
          </th>
          <th class="icon-only-column"></th>
          <th class="icon-only-column"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr>
          <td>
            <i *ngIf="customer.active" class="fa fa-check active"></i>
            <i *ngIf="!customer.active" class="fa fa-times inactive"></i>
          </td>
          <td>{{customer.firstName}}</td>
          <td>{{customer.lastName}}</td>
          <td>{{customer.birthday | date:"MMM d, y"}}</td>
          <td><i class="fas fa-pencil-alt" (click)="editCustomer(customer._id)"></i></td>
          <td><i class="far fa-trash-alt" (click)="confirmDeletion(customer._id)"></i></td>
        </tr>
      </ng-template>
    </p-table>
    <p-confirmDialog #cd header="Please confirm" icon="pi pi-exclamation-triangle">
      <p-footer>
        <button type="button" pButton class="p-button-outlined p-button-danger" icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton class="p-button-outlined p-button-primary" icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
      </p-footer>
    </p-confirmDialog>
